{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="px-0 container-fluid">
            {% if messages %}
            {% include "messages.html" %}
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
        {% include "footer.html" %}
        <script src="{% static 'js/footerYear.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/showSpinner.js' %}"></script>
    </body>
</html>